<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ex2-1-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>248C690B1E2416EE003228BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>248C69241E2416EE003228BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>248C692F1E2416EE003228BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
